
<div class="col-lg-2 col-lg-offset-5 text-center">
    <h3>Add Transaction</h3>
    <form #form ="ngForm" (ngSubmit) ="submitForm(form)">
      <label>Action Type</label><br />
      <select class="form-control" name="action" ngModel required>
          <option >Remitances</option>
          <option>Expenses</option>
      </select><br />
      <label>Amount:</label><br />
      <input class="form-control" type="number"   placeholder="amount" name="amount" ngModel required/><br />
      <label>Month:</label><br />
      <input class="form-control" type="date"  name="month" ngModel required/><br />
      <label>Description:</label><br />
      <input class="form-control" type="text" placeholder="description" name="description" ngModel required/><br />
      <br />
      <div class="btn-group">
        <button class="btn btn-primary" routerLink="/transaction" routerLinkActive="active">Back</button>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>





