<div class="col-lg-4 col-lg-offset-4">
  <h3 class="col-lg-4 col-lg-offset-4">Transactions</h3>
  <table class="table table-condensed table-hover table-striped">
        <tr>
            <th>
                Action
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
        <tr *ngFor="let transaction of transactions">

            <td>
                {{transaction.action}}
            </td>
            <td>
                {{transaction.amount}}
            </td>
            <td>
                {{transaction.description}}
            </td>
            <td>
                {{transaction.month|date:'MM/dd/yyyy'}}
            </td>
            <td>
             <button class="btn btn-primary" (click) = "showDetails(transaction)">Details</button>
            </td>
        </tr>
    </table>
    <button  class="btn btn-primary btn-lg col-lg-4 col-lg-offset-4" routerLink="/register-transaction" routerLinkActive="active">
      <span class="glyphicon glyphicon-plus"></span> Add
    </button>
</div>
