<div class="col-lg-12">
  <h3 class="col-lg-2 col-lg-offset-5">Transactions</h3>
  <label  class="btn btn-primary col-lg-2 col-lg-offset-5" routerLink="/register-transaction" routerLinkActive="active">Register Transaction</label>
  <table class="table">
        <tr>
            <th>
                Action
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
        <tr *ngFor="let transaction of transactions">

            <td>
                {{transaction.action}}
            </td>
            <td>
                {{transaction.amount}}
            </td>
            <td>
                {{transaction.description}}
            </td>
            <td>
                {{transaction.month}}
            </td>
            <td>
             <button class="btn btn-primary" (click) = "showDetails(transaction)">Details</button>
            </td>
        </tr>
    </table>
</div>
